
<div class="col-md-9 col-md-offset-1">
    <div class="line semibold subhead">Admininstration</div></div>


<div class="row">

        <div class="col-md-2 col-md-offset-2">

            There are <span><strong>{{remainingCount}}</strong></span> in the Graphics queue
             <div class="btn btn-default top-space">
                <a href="#/Graphics_admin">Graphics admin</a>
            </div>

        </div>


        <div class=" col-md-2">

            There are <span><strong>{{remainingPower}}</strong></span> in the PowerPoint queue
            <div class="btn btn-default top-space">
                <a href="#/PowerPoint_admin">PowerPoint admin</a>
            </div>

        </div>


        <div class=" col-md-2">

            There are <span><strong>{{remainingEvents}}</strong></span> in the Events queue<br>
             <div class="btn btn-default top-space">
                <a href="#/Event_admin">Event admin</a>
            </div>

        </div>

        <div class=" col-md-2">

            There are <span><strong>{{remainingNaming}}</strong></span> in the Naming queue
            <div class="btn btn-default top-space">
                <a href="#/Naming_admin">Naming admin</a>
            </div>

        </div>

        </div>
    </div>
<br /><br /><br />

<div class="col-md-8 col-md-offset-2">
              <div class="btn btn-default top-space">
                <a href="#/Archive">Archived Jobs</a>
              </div></div>
