
<div class="col-md-9 col-md-offset-1">
    <div class="line semibold subhead">Archived Jobs</div></div>


<div class="row">



        <div class="col-md-2 col-md-offset-2">
            There are <span><strong>{{remainingCount}}</strong></span> in the Graphics queue
            <div class="btn btn-default top-space">
                <a href="#/Graphics_archived">Graphics Archive</a>
            </div>
        </div>

        <div class=" col-md-2">
            There are <span><strong>{{remainingPower}}</strong></span> in the PowerPoint queue
            <div class="btn btn-default top-space">
                <a href="#/PowerPoint_archived">PowerPiont Archive</a>
            </div>
        </div>

        <div class=" col-md-2">
            There are <span><strong>{{remainingEvents}}</strong></span> in the Events queue<br>
            <div class="btn btn-default top-space">
                <a href="#/Event_archived">Event Archive</a>
            </div>
        </div>

        <div class=" col-md-2">
            There are <span><strong>{{remainingNaming}}</strong></span> in the Naming queue
            <div class="btn btn-default top-space">
                <a href="#/Naming_archived">Naming Archive</a>
            </div>
        </div>


</div>


<br /><br /><br />

<div class="col-md-9 col-md-offset-1">
              <div class="btn btn-default top-space">
                <a href="#/Admin">Live Jobs</a>
            </div>
</div>