
<div class="col-md-9 col-md-offset-1">
    <div class="title bold">Naming Submission form</div>
</div>





    <div class="col-md-8 col-md-offset-2">
Please fill out the <B><a href="http://marketing.travelport.com/doc/Travelport_Product_Naming_Request_2017.doc">Naming Forming</a></B> and upload below when copmplete
<br />

<form ng-submit="addNaming()" target="_self">


    <div class="form-group">
        <label for="namingJob">New project</label>
        <div>
            <input type="text" required id="namingJob" class="form-control" ng-model="namingJob"
                   placeholder="Project name">
        </div>
    </div>


    <div class="form-group">
        <label for="namingClient">email</label>
        <div>
            <input class="form-control" required id="namingClient" ng-model="namingClient"
                   placeholder="What is your eamil">
        </div>
    </div>

    <div class="form-group">
        <label for="namingDate">Due Date</label>
        <div>
            <input class="form-control" type="text" required id="namingDate" ng-model="namingDate"
                   placeholder="what is your due date???">
        </div>
    </div>


    <div class="form-group">
        <label for="namingAttachments">Attachements</label>
        <div>
            <input class="form-control" type="file" placeholder="Any attaschments" ng-model="nameImg" id="nameImg">
        </div>
    </div>


    <div class=" form-group">
        <label for="namingBrief">Project details</label>
        <div>
                        <textarea class="form-control" type="text" ng-model="namingBrief"
                                  placeholder="Please tell us as much as you can about your project."></textarea>
        </div>
    </div>
    Submitting a job is not a gaurentee thatt we will except the assignment. your place in the queue is subject to change based on our priorities.
<br />

    <input class="btn btn-primary" type="submit" value="Submit">
</form>


</div>