<div class="container">
<div class="row">
<div class="col-sm-12">
    <div class="title blue">Brand engine</div>
</div>
</div>


<div class="row">
<div class="col-sm-12 ">
    <p class="center">Welcome to the Brand engine submission board. <br>Select the area you would like the brand to team to assist you,
        and we will make every effort to do so.<br> Please fill out all forms completly.
        <br/>

        <div class="panel panel-default">
            <div class="panel-body">
    <p class="quote"><b>Remember:</b><br/>Lack of planning on your part does not constitute and emergency on [our] part
    </p>
            </div>
        </div>
</div>
</div>


<br/>

    <div class="row">
<div class="col-sm-12 center">
    <div class="btn btn-default segment">
        <a href="#/Graphics_form" class="bold">Graphics job form</a>
        <p class="center blue">Select here for Images, email, <br/>collateral layout, ad creation</p>
    </div>


    <div class="btn btn-default segment">
        <a href="#/PowerPoint_form" class="bold">Brand Image selection</a>
        <p class="center blue">Search for images to <br/>use in your material</p>
    </div>

    <div class="btn btn-default segment">
        <a href="#/Event_form" class="bold">New icon request</a>
        <p class="center blue">Travelport has an extensive <br/>suite of iconography, but <br/>if you need a new one
            <br/>select here</p>
    </div>

    <div class="btn btn-default segment">
        <a href="#/Naming_form" class="bold">Brand compliance <br>review request</a>
    <p class="center blue">Find out if your <br/>project is on brand</p>
    </div>

    <div class="btn btn-default segment">
        <a href="#/Naming_form" class="bold">Event App request</a>
    <p class="center blue">Get assistance in the creation <br>of an event app for your <br>upcoming Travelport event.
    </p>
</div>

<div class="btn btn-default segment">
    <a href="#/Naming_form" class="bold">Content and creative <br>consultancy service</a>
<p class="center blue">The Brand team can assist <br>you in ensuring your creative briefs</p>
</div>

<div class="btn btn-default segment">
    <a href="#/Naming_form" class="bold">Marcom Central access request</a>
<p class="center blue">Get access for a creative <br>agency or NDC </p>
</div>

</div>
</div>
</div>