<div class="row top-space">
    <div class="col-md-9 col-md-offset-1">
        <div class="title bold">Brand engne job Queues</div>
    </div>

</div>


<div class="row top-space">


    <div class="col-md-8 col-md-offset-2">
        <p>Projects need X days to complete. We will try to complete your job by your requested date, but not
            guaranteed. Jobs proirity is subject to change.</p>
    </div>

</div>


<div class="row top-space">

    <div class="col-md-2 col-md-offset-2">
        <div>
            There are <span><strong>{{remainingCount}}</strong></span> in the Graphics queue
            <button class="btn btn-default top-space">
                <a href="#/Graphics_queue">Graphics job queue</a>
            </button>
        </div>
    </div>


    <div class=" col-md-2">
        <div>
            There are <span><strong>{{remainingPower}}</strong></span> in the PowerPoint queue
            <div class="btn btn-default top-space">
                <a href="#/PowerPoint_queue">PowerPint job queue</a>
            </div>
        </div>
    </div>


    <div class="col-md-2">
        <div>
            There are <span><strong>{{remainingEvents}}</strong></span> in the Events queue
            <div class="btn btn-default top-space">
                <a href="#/Event_queue">Event job queue</a>
            </div>
        </div>
    </div>


    <div class="col-md-2">
        <div>
            There are <span><strong>{{remainingNaming}}</strong></span> in the Naming queue
            <div class="btn btn-default top-space">
                <a href="#/Naming_queue">Naming job queue</a>
            </div>
        </div>
    </div>


</div>



